body {
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}


#game-button {
    /* transition: transform 0.3s ease-out, background-color 0.2s; */
}


.phase-container {
    display: none;
}


.phase-container.active {
    display: block;
}


@keyframes fadeIn {
   
}


.animate-fadeInDown {
    /* animation: fadeIn 0.3s ease-out forwards; */
}


/* Position stimulus text */
#stimulus-text,
#tutorial-stimulus-text {
    /* transition: opacity 0.2s ease-out, transform 0.3s ease-out; */
    text-align: center;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
}